QWidget {
  color: white;
  background-color: #1d1d1d;
  font-family: Roboto Mono;
  font-size: 18pt;
  font-weight: 400;
}

QLabel{
color: #888;
font-size: 12pt;
font-weight: 600;
  border: none;
}
QLineEdit{
  background-color: #1d1d1d;
  border-radius: 5px;
  font-size: 30pt;
  border: none;
}

QPushButton{
  background-color: #333235;
  border: none;
  background-color: rgba(255, 255, 255, 15);
  border-radius: 5px;
  font-size: 14pt;
  font-weight: 500;
}
QPushButton:hover{
  background-color: #242425;
}
QPushButton:pressed{
  background-color: #9184e0;
}

QToolButton{
  background-color: #333235;
  border: none;
  background-color: rgba(255, 255, 255, 15);
  border-radius: 5px;
  font-size: 14pt;
  font-weight: 500;
  style=height:24px;width:24px;
}
QToolButton:hover{
  background-color: #242425;
}
QToolButton:pressed{
  background-color: #9184e0;
}

#Bttn_rowno{
	background-color: #9184e0;
	color: black;
	border: none;
	font-size: 18pt;
   font-weight: 500;
}

#Bttn_rowno:hover{
    background-color: #7567c9;
}
#Bttn_rowno:pressed {
    background-color:  #333235;
}

#Bttn_color{
	background-color: #9184e0;
	color: black;
	border: none;
	font-size: 18pt;
   font-weight: 500;
}

#Bttn_color:hover{
    background-color: #5a49af;
}
#Bttn_color:pressed {
    background-color:  #333235;
}
